// Brand colors
$red: #A4042B;
$yellow: #DA5E31;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $red;
$link: $yellow;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Bulma navbar variables
$navbar-breakpoint: 0;
$navbar-item-img-max-height: 3em;
